<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
      <tr> <td>Sept 29, 2020</td> <td><a href="http://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a> </td> </tr>
      <tr> <td>Sept 30, 2020</td> <td><a href="http://swcarpentry.github.io/git-novice/">Introduction to Git/Github </a> (PREREQ: For this workshop you need to be familiar with all of the commands taught in <a href="http://swcarpentry.github.io/shell-novice/">this unix shell lesson</a>.) </td> </tr>
      <tr> <td>Oct 1, 2020</td>  <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Introduction to SQL</a></td> </tr>
      <tr> <td>Oct 6, 2020</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a>  </td> </tr>
      <tr> <td>Oct 7, 2020</td> <td><a href="http://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis (Cont.)</a>  </td> </tr>
      <tr> <td>Oct 8, 2020</td>  <td>Open Lab</td> </tr>
      <tr> <td>Oct 14, 2020</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python</a> </td> </tr>
      <tr> <td>Oct 15, 2020</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python (Cont.)</a> </td> </tr>
      <tr> <td>Oct 16, 2020</td>  <td>Open Lab</td> </tr>
    </table>
  </div>
</div>
